<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h4 {
 font-size: 1.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }
body {
   background-image: url("static/img/output.jpg");
   background-color: #cccccc;
   background-size: cover;
}
</style>


<title>Title</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h3>Estimated grade of the user input problem</h3>
<p>Grade: V{{ cos_sim }}</p>
<h3>Recommendations from the Moonboard Database:</h3>
<h4>Easier twin of the problem</h4>
<p>Problem: {{ holds_e }}</p>
<p>Routesetter: {{ setter_e }}</p>
<p>Grade: V{{ Grade_e }}</p>
<h4>Harder twin of the problem</h4>
<p>Problem: {{ holds_h }}</p>
<p>Routesetter: {{ setter_h }}</p>
<p>Grade: V{{ Grade_h }}</p>
<!-- This is the important part!!
The following code is basically what reads your data and runs your function from app.py
Don't forget the {% for x in whatever %} if you use a for loop and end the for loop with {% endfor %} -->
 <!-- {% for x in cos_sims %}
  <div>
--!>
    <!-- This gets the info from my florist_info database from app.py and outputs to the user -->
 <!--   <a href="{{ florist_info[x]['link'] }}"> --!>
<!--    <img src="{{ florist_info[x]['img_src'] }}"></a> 
  </div> --!>
 <!-- {% endfor %} --!>




</div></div></div>
</body>
